<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="parser_HH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <parser_HH.Properties.Settings>
            <setting name="CountRuns" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastRefer" serializeAs="String">
                <value />
            </setting>
        </parser_HH.Properties.Settings>
    </userSettings>
</configuration>